body {
    margin: 0;
}

/* 
    top of page and header styling 
    this is also a container for the _header block_
*/ 

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #F9FAF8;
}

.heading {
    font-size: 24px;
    font-weight: bolder;
    align-items: center;
    margin: 10px;
}


/* container for the links */

.containerLinks {
    display: flex;  
    justify-content: flex-end;
    gap: 15px;
    align-items: center;
    margin: 10px;
}

.links  {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

/* container for the main block underneath the header */ 

.container {
    background-color: #1F2937;
    height: 250px;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 180px;
}

.text-container {
    flex: 1;
}

.hero-text {
    color: #F9FAF8;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: -5px;
}


p {
    color: #E5E7EB;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.sign-up {
    align-items: center;
    background-color: #3882F6;
    border-radius: 8px;
}

.grey-box {
    display: flex;
    background-color: grey;
    height: 185px;
    width: 450px;
    font-family: Arial, Helvetica, sans-serif;
    color: #E5E7EB;
    align-items: center;
    justify-content: center;
}

button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border: #3882F6;
    color: #E5E7EB;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}